#header{
    text-align: center;
    color: coral;
}

ul {
    text-align: center;
    list-style: inside;
}

#nospaceform { 
    vertical-align:middle; 
    height:35px; 
}

.required-field::after {
    content : "*";
    color: red;
}

.left{
    float:left;
}

.vertical-center{
    vertical-align: middle;
}

.fa{
    padding: 10px;
    width: 30px;
    font-size: 30px;
    text-align: center;
}

