{% extends "base.html" %}

{% block body %}
    <div class="row m-auto">    
        <div class="col-2"></div>
        <div class="col d-flex justify-content-center">
            <div class="card text-center w-100 shadow rounded">
                <div class="card-header">
                <h3>Rispondi!</h3>
                </div>
                <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm">
                                    <div class="form-group mb-3">
                                        <form action="/redirect" method="POST">
                                            <label class="form-label"> Inserisci link </label>
                                            <div class="row">
                                                <div class="col-9">
                                                    <input type="link" class="form-control" name="link" placeholder="Inserire link" required>
                                                </div>
                                                <div class="col">
                                                    <button type="submit" class="btn btn-primary rounded-pill"> Invia </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <br>
                                    <hr class="solid">
                                    <br>
                                    <div class="form-group mb-3">
                                        <form action="/redirect" method="POST">
                                            <label class="form-label"> Inserisci id </label>
                                            <div class="row">
                                                <div class="col-9">
                                                    <input type="id" class="form-control" name="id" placeholder="Inserire id" required>
                                                </div>
                                                <div class="col">
                                                    <button type="submit" class="btn btn-primary rounded-pill"> Invia </button>
                                                </div>
                                            </div>
                                        </form>                                      
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <br>
    <div class="row text-center">
        <form action="/" method="POST">
            <button type="submit" class="btn btn-secondary w-25 rounded-pill"> Home page </button>
        </form>
    </div>
{% endblock %}