{% extends "base.html" %}

{% block body %}
	<form action="/form/create" method="POST" id="questionForm">
		<div class="row">
			<div class="col-2"></div>
			<div class="col">
				<div class="row">
					<div class="col-2"></div>
					<div class="col">
						<h2>Titolo form</h2>
					</div>
					<div class="col-2">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="flexCheckDefault" name="anonymous" value="True">
							<label class="form-check-label"> Anonimo</label>
						</div>
					</div>
				</div>
				<textarea class="form-control" rows="1" id="title" name="titleInput" required></textarea>
				<br>
				<br>
				{% if templates != false %}
					<div class="btn-group" id="createButton">
					<button type="button" class="btn btn-primary dropdown-toggle rounded-pill" data-bs-toggle="dropdown" aria-expanded="false" id="newQuestionButton"> Create new question <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" id="open_btn" onclick="createOpenQuestion(this.id)" href="#">Aperta</a></li>
						<li><a class="dropdown-item" id="check_btn" onclick="createCheckboxQuestion(this.id)" href="#">Checkbox</a></li>
						<li><a class="dropdown-item" id="radio_btn" onclick="createRadioQuestion(this.id)" href="#">Radio button</a></li>
						<li><a class="dropdown-item" id="file_btn" onclick="createFileQuestion(this.id)" href="#">File</a></li>
					</ul>
					</div>
					<div id="parentDiv"></div>
				{% else %}
					<div id="parentDiv">
					{% set i = 1 %}
					{% for r in questionTemplate %}
						<div class="card shadow rounded m-3" id="container{{loop.index}}">
							<div class="card-header"> Domanda </div>
							<div class="card-body">
								<div class="container">
									<div class="row">
										<div class="col-8" id="centralDiv">
											{% if r.type == 'open' %}
												<textarea rows="1" class="form-control" name="{{loop.index}} open">{{r.text}}</textarea>
											{% elif r.type == 'checkbox' %}
												<textarea rows="1" class="form-control" name="{{loop.index}} checkbox">{{r.text}}</textarea>
												<br>
												<div class="row">
													<div class="col-1"></div>
													<div class="col form-check">
														{% set i = loop.index %}
														{% for c in checkboxTemplate if c.id == r.id %}
															<div class="row" id="checkboxRow {{c.optionNumber}}">
																<div class="col-10 form-check">
																	<input class="form-check-input" type="checkbox" id="check{{c.optionNumber}}" name="{{i}} checkbox {{c.optionNumber}}" disabled>
																	<textarea class="form-control" rows="1" id="checktext{{c.optionNumber}}" name="{{i}} checkboxtext {{c.optionNumber}}">{{c.option}}</textarea>
																</div>
																<div class="col-2"></div>
															</div>
														{% endfor %}
													</div>
													<div class="col-1"></div>
												</div>
											{% elif r.type == 'radio' %}
											<textarea rows="1" class="form-control" name="{{loop.index}} radio">{{r.text}}</textarea>
											<br>
											<div class="row">
												<div class="col-1"></div>
												<div class="col form-check">
													{% set i = loop.index %}
													{% for c in radioTemplate if c.id == r.id %}
														<div class="row" id="radioRow {{c.optionNumber}}">
															<div class="col-10 form-check">
																<input class="form-check-input" type="radio" id="radio{{c.optionNumber}}" name="{{i}} radio {{c.optionNumber}}" disabled>
																<textarea class="form-control" rows="1" id="radiotext{{c.optionNumber}}" name="{{i}} radiobtntext {{c.optionNumber}}">{{c.option}}</textarea>
															</div>
															<div class="col-2"></div>
														</div>
													{% endfor %}
												</div>
												<div class="col-1"></div>
											</div>
											{% else %}
												<textarea class="form-control" name="{{loop.index}} fileText">{{r.text}}</textarea>
												<br>
												<div class="row">
													<div class="col-auto">
														<input class="form-control" type="file" disabled>
													</div>
												</div>
											{% endif %}
										</div>
										<div class="col-auto p-1">
											<div class="form-check form-switch">
												{% if r.required == true %}
												<input class="form-check-input" type="checkbox" name="{{loop.index}} required" checked>
												{% else %}
												<input class="form-check-input" type="checkbox" id="flexCheckDefault" name="{{loop.index}} required">
												{% endif %}
												<label class="form-check-label"> Obbligatoria</label>
											</div>
										</div>
										<div class="col-auto p-1">
											<div class="container p-1">
												<div class="btn-group" id="createButton{{loop.index}}">
													<button type="button" class="btn btn-primary dropdown-toggle rounded-pill" data-bs-toggle="dropdown" aria-expanded="false"> + </button>
													<ul class="dropdown-menu">
														<li><a class="dropdown-item" id="open_btn{{loop.index}}" onclick="createOpenQuestion(this.id)" href="#">Aperta</a></li>
														<li><a class="dropdown-item" id="check_btn{{loop.index}}" onclick="createCheckboxQuestion(this.id)" href="#">Checkbox</a></li>
														<li><a class="dropdown-item" id="radio_btn{{loop.index}}" onclick="createRadioQuestion(this.id)" href="#">Radio button</a></li>
														<li><a class="dropdown-item" id="file_btn{{loop.index}}" onclick="createFileQuestion(this.id)" href="#">File</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>         
					{% endfor %}
					</div>
					<button type="submit" class="btn btn-primary rounded-pill" id="sendButton"> Invia </button>
				{% endif %}
			</div>
			<div class="col-2"></div>
		</div>
	</form>
	<form action="/" method="POST">
	<button type="submit" class="btn btn-secondary rounded-pill w-25"> Home page </button>
	</form>
<meta id="n" data-name="{{number}}">
<script src="{{url_for('static',filename='form.js')}}"></script>
{% endblock %}
