{% extends "base.html" %}

{% block body %}
  <div id="rcorners">
      Welcome to LoHacker web app, anonymous! <br/>        
      <br>
        <div class="btn-group" id="createButton">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Create new question <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" id="list">
            <li><a id="open_btn" onclick="createOpenQuestion(this.id)" href="#">Open</a></li>
            <li><a id="check_btn" onclick="createCheckboxQuestion(this.id)" href="#">Checkbox</a></li>
            <li><a onclick="myfun('radio')" href="#">Radio button</a></li>
          </ul>
        </div>
        <form action="/form/create" method="POST">
          <div id="parentDiv">
    
          </div>
          <br>
            <button type="submit" class="btn btn-primary"> Send </button>
        </form>
  </div>
{% endblock %}
