{% extends "base.html" %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col d-flex justify-content-center">
            <div class="card text-center w-50 shadow rounded">
                <div class="card-header">
                <h3>Benvenuto!</h3>
                </div>
                <div class="card-body">
                    <form action = "/login" method = "POST">
                        <button class="btn btn-primary" type="submit">Log in</button>
                    </form>
                    <form action="/register" method="POST">
                        <button class="btn btn-primary" type="submit">Registrati</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}