{% extends "base.html" %}

{% block body %}

<div class="container" id="rcorners">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <input type="text" value={{link}} size="25" readonly>
            <button type="button" class="btn btn-primary" id="linkInput" onclick="copy(this.id)"> Copy link </button>
            <br>
            <br>
            <input type="text" value={{idSurvey}} readonly>
            <button type="button" class="btn btn-primary" id="idInput" onclick="copy(this.id)"> Copy id </button>
            <br>
            <br>
            <form action="/" method="POST">
                <button type="submit" class="btn btn-secondary"> Home page </button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}