{% extends "base.html" %}

{% block body %}
    <div class="row m-auto">    
        <div class="col-2"></div>
        <div class="col d-flex justify-content-center">
            <div class="card text-center w-100 shadow rounded">
                <div class="card-header">
                <h3>Form creato con successo!</h3>
                </div>
                <div class="card-body">
                    <form action="/redirect" method="POST">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm">
                                    <div class="form-group mb-3">
                                            <label class="form-label"> Link </label>
                                            <div class="row">
                                                <div class="col-9">
                                                    <input type="link" class="form-control" value="{{link}}" id="linkInputText" readonly>
                                                </div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-primary rounded-pill" id="linkInput" onclick="copy(this.id)"> Copia link </button>
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <hr class="solid">
                                    <br>
                                    <div class="form-group mb-3">
                                        <label class="form-label"> ID </label>
                                        <div class="row">
                                            <div class="col-9">
                                                <input type="text" class="form-control" value="{{idForm}}" id="idInputText" readonly>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-primary rounded-pill" id="idInput" onclick="copy(this.id)"> Copia id </button>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <br>
    <div class="row text-center">
        <form action="/" method="POST">
            <button type="submit" class="btn btn-secondary w-25 rounded-pill"> Home page </button>
        </form>
    </div>
{% endblock %}