{% extends "base.html" %}

{% block body %}
    <div id="rcorners">
        Welcome to LoHacker web app, anonymous! <br/>        
        <br>
        <form action="/login/access" method="POST">
            <label><b>Email</b></label>
            <input name="email" type="text">
            <br>
            <br>
            <label><b>Password</b></label>
            <input name="pwd" type="text">
            <br>
            <br>
            <button class="btn btn-primary" type="submit">Log in</button>
        </form>
        <form action="/" method="POST">
            <button type="submit" class="btn btn-secondary"> Home page </button>
        </form>
    </div>
{% endblock %}