{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col d-flex justify-content-center">
            <div class="card text-center w-50 shadow rounded">
                <div class="card-header">
                <h3>Il mio account</h3>
                </div>
                <div class="card-body">
                    <form id="nospaceform" action="/form" method="POST">
                        <button class="btn btn-primary w-100 p-3 rounded-pill" type="submit" name="formButton" value="normal"> Crea nuovo form </button>
                    </form>
                    <br>
                    <form id="nospaceform" action="/form" method="POST">
                        <button class="btn btn-primary w-100 p-3 rounded-pill" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"> Crea form usando un template </button>
                    </form> 
                    <br>
                    <form id="nospaceform" action="/myform" method="POST">
                        <button class="btn btn-primary w-100 p-3 rounded-pill" type="submit"> I miei form </button>
                    </form> 
                    <br>   
                    <form id="nospaceform" action="/template" method="POST">
                        <button class="btn btn-primary w-100 p-3 rounded-pill" type="submit"> Crea nuovo template </button>
                    </form>
                    <br>
                    <form id="nospaceform" action="/answer" method="POST">
                        <button class="btn btn-primary w-100 p-3 rounded-pill" type="submit"> Rispondi a un form </button>
                    </form>
                    <br>
                    <form id="nospace" action="/logout" method="POST">
                        <button class="btn btn-primary w-100 p-3 rounded-pill" type="submit"> Logout </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Template</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                {% if templates != false %}
                    <form action="/useTemplate" method="POST">
                        <table id="template" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date of creation</th>
                                    <th>Import</th>
                                    <th>Visualize</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in templates %}
                                    <tr>
                                        <td><p>{{t.name}}</p></td>
                                        <td> {{t.date}} </td>
                                        <td><button type="submit" class="btn btn-primary btn-sm" name="action" value="import {{t.id}}"> Import </button></td>
                                        <td><button type="submit" class="btn btn-primary btn-sm" name="action" value="visualize {{t.id}}"> Visualize </button></td>
                                        <td><button type="submit" class="btn btn-primary btn-sm" name = "action" value = "delete {{t.id}}"> Delete </button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                {% else %}
                    <p>Create a template before using it!</p>
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#template').DataTable();
        } );
    </script>
{% endblock %}