{% extends "base.html" %}

{% block body %}
    <br>
    <div id="rcorners">
        <p> My account</p>
        <form action="/form" method="POST">
            <button type="submit"> Create form </button>
        </form>
        <form action="/myform" method="POST">
            <button type="submit"> My form </button>
        </form>    
        <form action="/template" method="POST">
            <button type="submit"> Create template </button>
        </form>
        <form action="/answer" method="POST">
            <button type="submit"> Answer to a form </button>
        </form>
        <form action="/logout" method="POST">
            <button type="submit"> Logout </button>
        </form>
    </div>
{% endblock %}