{% extends "base.html" %}

{% block body %}
    <div id="rcorners">
        <form action="/getresponse" method="POST">
            <h1>{{survey.name}}</h1>
            {% for u in question %}
                {% if u.type == "open" %}
                    <label>{{u.text}}</label>
                    <br>
                    <input type="text" name="{{u.id}} open" required>
                {% else %}
                    <label>{{u.text}}</label>
                    <br>
                    {% for c in checkbox if c.id == u.id%}
                        <input type="checkbox" name="{{u.id}} checkbox {{c.number}}">
                        <input type="text" value="{{c.text}}" readonly>
                        <br>
                        <br>
                    {% endfor %}
                {% endif %}
                <br>
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-primary"> Send </button>
        </form>
        <form action="/" method="POST">
            <button type="submit" class="btn btn-secondary"> Home page </button>
          </form>
    </div>
{% endblock %}