{% extends "base.html" %}

{% block body %}
    <form action="/saveTemplate/{{template.id}}" method="POST" id="saveForm">
        <h2>Title</h2>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <textarea class="form-control" rows="1" name="titleInput">{{ template.name }}</textarea>
                <br>
                <br>
                <div id="parentDiv">
                    {% for r in question %}
                        <div class="card shadow rounded m-3" id="container{{loop.index}}">
                            <div class="card-header"> Domanda </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                            {% if r.type == 'open' %}
                                                <div class="col-8" id="centralDiv">
                                                    <textarea class="form-control" rows = "1" name="{{loop.index}} open">{{r.text}}</textarea>
                                                </div>
                                                <div class="col-auto p-1">
                                                    <div class="form-check form-switch">
                                                        {% if r.required == true %}
                                                        <input class="form-check-input" type="checkbox" name="{{loop.index}} required" checked>
                                                        {% else %}
                                                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="{{loop.index}} required">
                                                        {% endif %}
                                                        <label class="form-check-label"> Required</label>
                                                    </div>
                                                </div>
                                            {% elif r.type == 'checkbox' %}
                                                <div class="col-8" id="centralDiv">
                                                    <textarea class="form-control" rows = "1" name="{{loop.index}} checkbox">{{r.text}}</textarea>
                                                    <br>
                                                    <div class="row" id="checkboxOptionContainer {{loop.index}}">
                                                        <div class="col-1"></div>
                                                        <div class="form-check col" id="containerCheckboxOptions {{loop.index}}">
                                                            {% set i = loop.index %}
                                                            {% for c in checkboxOption if c.id == r.id %}
                                                                <div class="row" id="checkboxRow t{{loop.index}}">
                                                                    <div class="col-10 form-check">
                                                                        <input class="form-check-input" type="checkbox" id="check{{loop.index}}" name="{{i}} checkbox" disabled>
                                                                        <textarea class="form-control" rows = "1"  id="chechtext{{loop.index}}" name="{{i}} checkboxtext {{c.optionNumber}}">{{c.option}}</textarea>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        {% if loop.last == false %}
                                                                            <button type="button" class="btn btn-secondary btn-sm" onclick="deleteCheck('t{{loop.index}}')" id="deleteCheck t{{loop.index}}" style="visibility: visible;">X</button>
                                                                        {% else %}
                                                                            <button type="button" class="btn btn-secondary btn-sm" onclick="addcheck('t{{loop.index}}')" id="addCheck t{{loop.index}}">+</button>
                                                                            <button type="button" class="btn btn-secondary btn-sm" onclick="deleteCheck('t{{loop.index}}')" id="deleteCheck t{{loop.index}}" style="visibility: hidden;">X</button>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-1"></div>
                                                    </div>
                                                </div>
                                                <div class="col-auto p-1">
                                                    <div class="form-check form-switch">
                                                        {% if r.required == true %}
                                                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="{{loop.index}} required" checked>
                                                        {% else %}
                                                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="{{loop.index}} required">
                                                        {% endif %}
                                                        <label class="form-check-label" for="flexCheckDefault"> Required</label>
                                                    </div>
                                                </div>                               
                                            {% elif r.type == 'radio' %}
                                                <div class="col-8" id="centralDiv">
                                                    <textarea class="form-control" rows = "1" name="{{loop.index}} radio">{{r.text}}</textarea>
                                                    <br>
                                                    <div class="row" id="RadioOptionContainer {{loop.index}}">
                                                        <div class="col-1"></div>
                                                        <div class="form-check col" id="containerRadioOptions {{loop.index}}">                             
                                                            {% set i = loop.index %}
                                                            {% for c in radioOption if c.id == r.id %}
                                                            <div class="row" id="radioRow t{{loop.index}}">
                                                                <div class="col-10 form-check">
                                                                    <input class="form-check-input" type="radio" id="radio{{loop.index}}" name="{{i}} radio" disabled>
                                                                    <textarea class="form-control" rows = "1" id="radio{{loop.index}}" name="{{i}} radiobtntext {{c.optionNumber}}">{{c.option}}</textarea>
                                                                </div>
                                                                <div class="col-2">
                                                                    {% if loop.last == false %}
                                                                        <button type="button" class="btn btn-secondary btn-sm" onclick="deleteRadio('t{{loop.index}}')" id="deleteRadio t{{loop.index}}" style="visibility: visible;">X</button>
                                                                    {% else %}
                                                                    <button type="button" class="btn btn-secondary btn-sm" onclick="addRadio('t{{loop.index}}')" id="addRadio t{{loop.index}}">+</button>
                                                                    <button type="button" class="btn btn-secondary btn-sm" onclick="deleteRadio('t{{loop.index}}')" id="deleteRadio t{{loop.index}}" style="visibility: hidden;">X</button>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-1"></div>
                                                    </div>
                                                </div>
                                                <div class="col-auto p-1">
                                                    <div class="form-check form-switch">
                                                        {% if r.required == true %}
                                                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="{{loop.index}} required" checked>
                                                        {% else %}
                                                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="{{loop.index}} required">
                                                        {% endif %}
                                                        <label class="form-check-label" for="flexCheckDefault"> Required</label>
                                                    </div>
                                                </div>          
                                            {% else %}
                                                <div class="col-8" id="centralDiv">
                                                    <textarea class="form-control" rows = "1" name="{{loop.index}} fileText">{{r.text}}</textarea>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <input class="form-control" type="file" disabled>
                                                        </div>
                                                        <div class="col-auto"></div>
                                                    </div>
                                                </div>
                                                <div class="col-auto p-1">
                                                    <div class="form-check form-switch">
                                                        {% if r.required == true %}
                                                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="{{loop.index}} required" checked>
                                                        {% else %}
                                                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="{{loop.index}} required">
                                                        {% endif %}
                                                        <label class="form-check-label" for="flexCheckDefault"> Required</label>
                                                    </div>
                                                </div>
                                            {% endif %}       
                                        <div class="col-auto p-1">
                                            <div class="container p-1">
                                                <div class="btn-group" id="createButton{{loop.index}}">
                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> + </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" onclick="createTemplateOpenQuestion(this.id)" href="#" id="template_open#btn{{loop.index}}"> Open </a></li>
                                                        <li><a class="dropdown-item" onclick="createTemplateCheckboxQuestion(this.id)" href="#" id="template_check#btn{{loop.index}}"> Checkbox </a></li>
                                                        <li><a class="dropdown-item" onclick="createTemplateRadioQuestion(this.id)" href="#" id="template_radio#btn{{loop.index}}"> Radio button </a></li>
                                                        <li><a class="dropdown-item" onclick="createTemplateFileQuestion(this.id)" href="#" id="template_file#btn{{loop.index}}">File</a></li>
                                                    </ul>
                                                </div>
                                                <span>&nbsp;&nbsp;</span>
                                                <a type="button" class="btn btn-primary" id="template_delete_btn{{loop.index}}" onclick="deleteTemplateQuestion(this.id)"> X </a>
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <button type="submit" class="btn btn-primary" id="saveButton"> Save </button>
    </form>
    <form action="/" method="POST" id="homeForm">
        <button type="submit" class="btn btn-secondary"> Home page </button>
    </form>
    <meta id="n" data-name="{{number}}">
{% endblock %}
