{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-2"></div>
    <div class="col d-flex justify-content-center">
        <div class="card text-center w-50 shadow rounded">
            <div class="card-header">
            <h3>Attenzione!</h3>
            </div>
            <div class="card-body">
                <h5>Il form specificato non esiste!</h5>
                <br>
                <form action='/answer' method='POST'>
                    <button class="btn btn-primary w-25 rounded-pill" type="submit"> Indietro </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<br>
<div class="row text-center">
    <form action="/" method="POST">
        <button type="submit" class="btn btn-secondary w-25 rounded-pill"> Home page </button>
    </form>
</div>
<!--div id="rcorners">
    <h4> The form you asked for does not exists. </h4>
    <form action='/answer' method='POST'>
        <button type="submit" class="btn btn-secondary"> Go back </button>
    </form>
</div-->
{% endblock %}