{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="col-2"></div>
    <div class="col d-flex justify-content-center">
        <div class="card text-center w-50 shadow rounded">
            <div class="card-header">
            <h3>Attenzione!</h3>
            </div>
            <div class="card-body">
                <h5>La password inserita è errata!</h5>
                <h6>Per favore, prova di nuovo</h6>
                <br>
                <form action='/login' method='POST'>
                    <button class="btn btn-primary w-25 rounded-pill" type="submit"> Indietro </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<br>
<div class="row text-center">
    <form action="/" method="POST">
        <button type="submit" class="btn btn-secondary w-25 rounded-pill"> Home page </button>
    </form>
</div>

<!--div id="rcorners">
    <h4>Wrong password, please try again</h1>
    <form action='/login' method='POST'>
        <button class="btn btn-primary" type="submit">Go back</button>
    </form>
</div-->
{% endblock %}